{% extends 'base.html.twig' %}
{% block titulo %}Listado de usuarios {% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <li style="background: white"> Id: {{ id }}</li>
    <li style="background: white"> Nombre: {{ NombreDeUsuario }}</li>
    <li style="background: white"> Edad: {{ Edad }}</li>
    <li style="background: white"> Poblacion: {{ Poblacion }}</li>
    <li style="background: white"> Puntos: {{ Puntos }}</li>

  </body>
</html>
{% endblock %}
